In [ ]:
#Dieses Blatt beschäftigt sich mit dem adjusted Rand Score, einer Möglichkeit, Clusterergebnisse auf ihre Ähnlichkeit zu überprüfen.

In [1]:
from sklearn.metrics.cluster import adjusted_rand_score
import pandas as pd
import numpy as np
import xarray as xr

In [101]:
mjo=pd.read_csv('/Users/weber-j/Documents/Masterarbeit/MJO.csv',sep=';')

In [102]:
mjo=mjo.drop(mjo[mjo.Jahr > 2018].index)
mjo=mjo.drop(mjo[mjo.Monat > 5].index)
mjo=mjo.drop(mjo[mjo.Monat < 3].index)
mjo

,Jahr,Monat,Tag,Phase,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
60,1980,3,1,3,NaN,NaN,NaN,NaN,NaN
61,1980,3,2,2,NaN,NaN,NaN,NaN,NaN
62,1980,3,3,2,NaN,NaN,NaN,NaN,NaN
63,1980,3,4,3,NaN,NaN,NaN,NaN,NaN
64,1980,3,5,3,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
14026,2018,5,27,3,NaN,NaN,NaN,NaN,NaN
14027,2018,5,28,3,NaN,NaN,NaN,NaN,NaN
14028,2018,5,29,3,NaN,NaN,NaN,NaN,NaN
14029,2018,5,30,4,NaN,NaN,NaN,NaN,NaN
14030,2018,5,31,4,NaN,NaN,NaN,NaN,NaN

In [103]:
len(mjo.Jahr)

3588

In [110]:
#Vergleich der Madden-Julian Oszillation mit den Niederschlagsclustern

heder=('Jahr','Monat','Tag','Stunde','Cluster')
gdf=pd.read_csv('/Users/weber-j/Documents/Masterarbeit/MJO.csv',sep=';')
gd=pd.read_table('/Users/weber-j/Documents/Cluster-Ergebnisse/em_cla_v85.dat',sep=';',index_col=None,names=heder)  #tp
gdf=gdf.drop(gdf[gdf.Jahr > 2018].index)
gdf=gdf.drop(gdf[gdf.Monat > 5].index)
gdf=gdf.drop(gdf[gdf.Monat < 3].index)

#Zeitverschiebung von 0 bis 14 Tage
for Zv in range (0,15):
    gdf=gdf.drop(gdf[(gdf.Tag > (31-Zv)) & (gdf.Monat == 5)].index)
    gd=gd.drop(gd[(gd.Tag < (Zv+1)) & (gd.Monat == 3)].index)
    print(adjusted_rand_score(gd.Cluster,gdf.Phase))

0.012616749944756967
0.010907287233331574
0.011227303908639123
0.01233195346323633
0.012291942651554857
0.012067577730080414
0.01228341186183414
0.012009874383769747
0.011721630900076324
0.011769232149201211
0.01090043146495675
0.010209791659614468
0.009358084491548147
0.009342500230049214
0.009124619932867723

In [10]:
#Vergleich der Prädiktorvariablen-Clustern mit den tp-Clustern (mit ERA5), eine Übersicht über die einzelnen Dateien der
# Clusteranalyse ist in Übersicht.xlsx gegeben

heder=('Jahr','Monat','Tag','Stunde','Cluster')
gdf=pd.read_csv('/Users/weber-j/Documents/Cluster-Ergebnisse/em_cla_v122.dat',sep=';',index_col=None,names=heder)   #Variable
gd=pd.read_table('/Users/weber-j/Documents/Cluster-Ergebnisse/em_cla_v106.dat',sep=';',index_col=None,names=heder)  #tp
#tp-Cluster: 85,73,77,74,78,79,75,76,89    #106
#SST: 111, wr900: 122

gdf=gdf.drop(gdf[gdf.Jahr < 1980].index)

#Zeitverschiebung von 0 bis 14 Tage
for Zv in range (0,15):
    gdf=gdf.drop(gdf[(gdf.Tag > (31-Zv)) & (gdf.Monat == 5)].index)
    gd=gd.drop(gd[(gd.Tag < (Zv+1)) & (gd.Monat == 3)].index)
    print(adjusted_rand_score(gd.Cluster,gdf.Cluster))

0.1165256990596825
0.11608719540264288
0.10992575062905545
0.09862750941137212
0.0896559147257193
0.08417885346300918
0.07786669775678114
0.07268492678426505
0.07120435143266331
0.07119922483443551
0.06810977293583453
0.06862121599330684
0.06270706311904119
0.057986429497187394
0.05555460964858719

In [ ]:
adjusted_rand_score(gd.Cluster,gdf.Cluster)

In [5]:
#Für ERA Interim dasselbe (Hatte erst mit ERA-Interim-Daten angefangen zu arbeiten, dies aber wieder verworfen)
heder=('Jahr','Monat','Tag','Stunde','Cluster')
gdf=pd.read_csv('/Users/weber-j/Documents/Cluster-Ergebnisse/em_cla_v49.dat',sep=';',index_col=None,names=heder)   #Variable
gd=pd.read_table('/Users/weber-j/Documents/Cluster-Ergebnisse/em_cla_v77.dat',sep=';',index_col=None,names=heder)  #tp
gd=gd.drop(gd[gd.Jahr < 1982].index)
for Zv in range (0,15): 
    gdf=gdf.drop(gdf[(gdf.Tag > (31-Zv)) & (gdf.Monat == 5)].index)
    gd=gd.drop(gd[(gd.Tag < (Zv+1)) & (gd.Monat == 3)].index)
    print(adjusted_rand_score(gd.Cluster,gdf.Cluster))

0.046446968906507936
0.04891647847967735
0.04617492662797642
0.03918006903551051
0.033253005031134236
0.03060336942866158
0.029899983869834883
0.030395233096182743
0.027901697288917126
0.023773611453189087
0.023940351069627025
0.022045611351992296
0.018735684315921798
0.015014269366950501
0.012662766918783066

In [89]:
#Test mit einem random generierten Feld

hk=[]
ihdgeg=[]
r=39*92
for k in range (0,20):
    hk=[]
    ihdgeg=[]
    for i in range (0,r):
        hk.append(int(np.random.random([1])*10))
        ihdgeg.append(int(np.random.random([1])*10))
    print(adjusted_rand_score(hk,ihdgeg))

0.00011928970130216485
0.0011025624820605313
0.00010925284778126388
0.00021069652731416793
0.0003614770884387029
0.0002615256171194525
-0.00018919353133075233
-0.0005276123793492111
-0.0001672784623581637
-6.962394627392897e-05
-0.00018846022406824843
1.5305677598031002e-05
-0.00043151437935057334
0.0003540994347873615
0.00025010994261133083
0.0007021854080018896
0.0001981253412131735
-0.00021815974833284266
4.8692853784152204e-05
-0.00038059591521747316

In [100]:
hk=[7,6,5,4,3,2,1,1,2,3,4,5,6,7]
kk=[1,6,3,4,5,6,7,1,2,3,4,5,6,7]
adjusted_rand_score(hk,kk)

0.2011173184357542